<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Plant water controller</title>
</head>
<link rel="stylesheet" href="/static/css/main.css">
<script class="javascript">
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    return cookieValue;
                }
            }
            return null;
        }
        return null;
    }

    const sendWater = () => {
        const csrftoken = getCookie('csrftoken');
        const request = new XMLHttpRequest();
        const url = "/send_water/";
        request.open("POST", url, true);
        request.setRequestHeader("X-CSRFToken", csrftoken); 
        request.setRequestHeader("Content-Type", "text/plain;charset=UTF-8"); 
        console.log('SENDING DATA');
        request.onreadystatechange = function() {
            if (this.status == 200) {
                console.log("SUCCESS");
            }
        }
        request.send();
    }
    
    const wakePc = () => {
        const csrftoken = getCookie('csrftoken');
        const request = new XMLHttpRequest();
        const url = "/wake_pc/";
        request.open("POST", url, true);
        request.setRequestHeader("X-CSRFToken", csrftoken); 
        request.setRequestHeader("Content-Type", "text/plain;charset=UTF-8"); 
        console.log('SENDING DATA');
        request.onreadystatechange = function() {
            if (this.status == 200) {
                console.log("SUCCESS");
            }
        }
        request.send();
    }
    
    const toggleToPc = () => {
        const img = document.getElementById("viewer-img");
        img.setAttribute("src", "{{ pc_url }}");
    }
    
    const toggleToPlant = () => {
        const img = document.getElementById("viewer-img");
        img.setAttribute("src", "{{ plant_url }}");
    }
</script>
<body>
    <div class="toolbox">
        <a href="/logout/">Logout</a>
    </div>
    <div class="container">
        <div class="command-container">
            <div class="view">
                <div clas="camera-select">
                    <button class="camera-btn" onClick="toggleToPlant()">Cacto</button>
                    <button class="camera-btn" onClick="toggleToPc()">Pc</button>
                </div>
                <img id="viewer-img" src="{{ plant_url }}">
            </div>   
            <div class="controls">
                <button class="control-btn" type="button" onClick="sendWater()">Ativar água</button>
                <button class="control-btn" type="button" onClick="wakePc()">Ligar pc</button>
            </div>
        </div>
    </div>
    
</body>
</html>
