body {
    background-image: linear-gradient(to right, #0BAD9F, #3F5DD2);
}

.toolbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: start;
    padding-top: 1em;
    height: 5vh;

    a {
        color: white;
        margin: 1em;
    }
}
.container {
    height: 95vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    border: 0px;

    .command-container {
        padding: 3em;
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(30px);
        display: grid;
        grid-template-columns: 3fr 1fr;
        border-radius: 5px;

    }

    .view {
        .camera-select {
            display: flex
            flex-direction: row;
            justify-content: space-between;
            
        }
        
        img {
            width: 100%;
        }
    }

    .controls {
        margin: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

.centered {
    justify-content: center !important;
}

.control-btn {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 5px;
    background-color: #3F5DD2;
    color: white;
    padding: 1em; 
    margin: 1em;
    cursor: pointer;

}

.camera-btn {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 5px;
    background-color: #3F5DD2;
    color: white;
    padding: 1em; 
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: 0em;
    cursor: pointer;
}

.inputs {
    width: 80%;
}
.login-btn {
}

.login-form {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(30px);
    border-radius: 5px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em;

    .login-ctrl {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: sans-serif;
        width: 80%;
        margin: 1em;
        align-items: center;

        label {
            margin-right: 1em;
            color: #3F5DD2;
            font-weight: bold;
        }

        input {
            width: 80%;
            height: 2em;
            border-radius: 5px;
            background-color: white;
        }
    }
}
